{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<main class="container py-5">
<h1>Привет, я Аушев Никита - автор этого сайта!</h1>
<div class="row">
  <div class="col-12 col-md-5">
      <img src="{% static 'img/about_photo1.jpg' %}" style="width:100%">
  </div>
  <div class="col-12 col-md-7">
    Я бы очень хотел разместить здесь информацию о себе, используя своё умение верстать.
    <br>Хотел бы вставить картинки, блоки, элементы бустрап.<br><br>Но всё это в перспективе, когда я смогу поспать 
    больше 6 часов за сутки.<br>А пока что мне кровь из носу нужно закончить спринт, чтобы не вылететь 
    с курса и не попасть на бабло.
  </div>
</div>
</main>
{% endblock %} 