{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<main class="container py-5">

<div class="row">
  <h1>Вот что я умею:</h1>

  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQL (SQLite, PostgreSQL)
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        CSS (+ less)
      </li>
      <li class="list-group-item">
        JavaScript
      </li>
      <li class="list-group-item">
        Адаптивная вёрстка
      </li>
      <li class="list-group-item">
        Вёрстка по макетам Figma
      </li>
      <li class="list-group-item">
        Чувство прекрасного
      </li>
    </ul>
  </aside>

  <article class="col-12 col-md-9">
    <p>Я имею базовые навыки работы с  Python, Django, 
      HTML, CSS, JS.<br>Сейчас я прохожу обучение на курсе Яндекса по 
      направлению "Веб-разработчик".<br>Имею опыт работы 
      в вёрстке сайтов по макетам Figma (сверстал несколько сайтов 
      для веб-студии Vesta).
    </p>
  </article>
</div>
</main>
{% endblock %}